#header-main {
  color: purple;
  margin-top: 1.5em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* SiteTitle */
/* #site-title {
  font-family: 'Clicker Script', cursive;
} */

/* MarketList styles */
#marketlist-title {
  text-align: center;
}

#marketlist-content {
  margin-right: 5em;
  margin-left: 5em;
}